<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tarik.triggerwordsv1">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <receiver
        android:name=".AlertReceiver"
        android:process=":remote" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_REVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="Interactive Activity"
        android:roundIcon="@mipmap/launcher2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <uses-feature android:name="android.hardware.camera" />
        <uses-feature android:name="android.hardware.camera.autofocus" />

        <uses-permission android:name="android.permission.INTERNET" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.tarik.triggerwordsv1.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".MenuActivity"
            android:label="Dyslexican"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".diary.SendCalendar"
            android:label="Add Reminder"/>
        <activity android:name=".Newtriggerwords.InteractiveSession" />
        <activity android:name=".interactMenu" />
        <activity android:name=".Eyetracking_ReadingStories.EyeTracker"
            android:label="Eye Tracking Training"/>
        <activity android:name=".triggerWords.WordActivity" />
        <activity android:name=".RecyclerMain" />
        <activity android:name=".diary.ActivityDiaryEdit"
            android:label="Add Diary"/>
        <activity
            android:name=".diary.ActivityMain"
            android:label="ListWords" />
        <activity android:name=".Eyetracking_ReadingStories.DemoActivity"
            android:label="Reading Stories">

        </activity>
        <activity
            android:name=".map.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".Information.information"
            android:label="@string/title_activity_information"

            android:theme="@style/AppTheme"></activity>

        <activity android:name=".Information.AQDisorientation"
            android:label="Disorientation"></activity>
        <activity android:name=".Information.AQReadSpell"
            android:label="Vision, Reading and Spelling"></activity>
        <activity android:name=".Information.AQAttentionFocus"
            android:label="Hearing, speech and motor skills">

        </activity>
        <activity android:name=".Information.AQMath"
            android:label="Math and time management"></activity>
        <activity android:name=".Information.AQHandwriting"
            android:label="Co-ordination and handwriting"></activity>
        <activity android:name=".Information.AQPersonality"
            android:label="Personality and self-esteem"></activity>
        <activity android:name=".Information.AQResult"></activity>

        <activity android:name=".Newtriggerwords.AddWordUi"
            android:windowSoftInputMode="stateHidden">

        </activity>

    </application>

</manifest>